
.logout {
    position: absolute;
    display: flex;
    top: 20px;
    right: 20px;
    z-index: 15;
    font-family: 'Courier New', Courier, monospace;
}

.pokemons-list {
    display: flex;
    flex-wrap: wrap; // allows the cards to wrap onto the next line when the container is too small
    justify-content: space-between; 
    max-width: 80%;
    gap: 10px;
    margin: 0 auto; // Center the cards
}    
