<div class="map-page">
  <a class="home-btn" href="/">return home</a>

  <div id="directionsPanel" style="float:right;width:30%;height:100%"></div>


  <input id="autocomplete" placeholder="Enter a place" type="text">

  <div class="map-container" id="map"></div>

  <div>
    <strong>Mode of Travel: </strong>
    <select id="mode" (change)="calcRoute()" [(ngModel)]="selectedMode"> 
      <option value="DRIVING">Driving</option>
      <option value="WALKING">Walking</option>
      <option value="BICYCLING">Bicycling</option>
      <option value="TRANSIT">Transit</option>
    </select>
  </div>
</div>