/* Set the size of the div element that contains the map */
.map-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    .home-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 5px;
        display: inline-block;
        background-color: #dbdbdbc5; 
        color: black;
        text-decoration: none; 
        border-radius: 5px; 
    }

    input {
        margin-top: 40px;
        position: relative;
        width: 20%; 
        padding: 10px; 
    }

    .map-container {
        height: 70vh; 
        width: 90%; 
        margin: auto;
    }
    
}